:root{
   --Darkcyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Verydarkblue: hsl(212, 21%, 14%);
    --Darkgrayishblue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    
}
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}
img{
    max-width: 100%;
    height: auto;
}
body{
    background-color:var(--Cream);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    max-width: 70rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.image {
    width: 280px;
    height: auto;
}
.text{
    padding-left: 30px;
    background-color: var(--White);
    width: 280px;
    height: auto;
}
.text #gray{
    color: var(--Darkgrayishblue);
    font-size: 12px;
    padding: 30px 0;
    letter-spacing: 3px;
}
.text h1{
    font-family: 'Fraunces', sans-serif;
    padding-bottom: 20px;
}
.text #black{
    color:var(--Darkgrayishblue);
    padding-bottom: 30px;
}
.text .price{
    display: flex;
    flex-direction: row;
}
.text .price h1{
    font-size: 1.9rem;
    font-weight: 700;
    color:var(--Darkcyan); 
    padding: 0 20px 30px 20px;
}
.text .price p{
    font-size: 0.8rem;
    color:var(--Darkgrayishblue);
    padding-bottom: 20px;
}
.text button{
    background-color: var(--Darkcyan);
    padding: 10px 70px;
    border-radius: 5px;
    color:var(--White);
    font-size: 0.7rem;
}